.attribution-content {
    margin-bottom: 1em;
}

.attribution-content:last-child {
    margin-bottom: 2em;
}

.intro-item {
    margin-bottom: 2em;
}

.attribution-name {
    margin-bottom: 0.5em;
}
