.intro-item {
    margin-bottom: 2.5em;
}

.attribution-name {
    margin-bottom: 0.5em;
}

.ack-list li {
	font-size: 1.2rem;
    line-height: 1.5em;
}

.ack-school {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ack-school img {
    display: block;
    margin: 0 auto 1rem;
}

.school-icon {
    height: 14rem;
}

.school-badge {
    height: 11rem;
}

.ack-school .comment {
    text-align: center;
}