* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

html {
    font-size: 1rem !important; /* override semantic ui configuration*/
}

body {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #296592;
    margin-bottom: 0.8em;
    margin-top: 0.8em !important;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
    font-weight: normal;
}

h5 {
    font-size: 1.5rem;
    font-weight: normal;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1.3rem;
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-position: inside;
}
ol {
    margin: 1em 0 1em 2em;
}

li {
    font-size: 1.3rem;
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

.overview p {
    color: #296592;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1em;
}

.overview {
    margin-bottom: 5rem;
}

.overview p:first-child {
    margin-top: 0;
}

.paragraph p {
    margin-top: 0.3em;
}

.paragraph p:first-child {
    margin-top: 0;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blue-shadowed {
    box-shadow: 10px 10px 20px rgb(214, 232, 239)
}


/* 顶部导航栏我统一使用firstnav，相应的在模板里写了 */
#firstnav {
    background-color: rgba(1, 124, 135, 0.8);
}
#firstnav a{
    color: white;
    text-decoration: none;
}
#sdin-link {
    display: flex;
    align-items: center; /* vertical align sdin icon */
}
#sdin-icon {
    width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 3vw;
    margin-right: 3vw;
    display: block;
}
#active-page {
    background-color: rgba(0, 78, 84, 0.8);
    border-width: 0;
}

.page-category {
    background-color: rgba(1, 124, 135, 0.8) !important;
}

#firstnav .page-category .item {
    color: white !important;
}

#firstnav {
    flex-wrap: wrap !important;
}

#first-page {
    position: relative;
    width: 100%;
    min-height: 400px;
}

#ship-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-image: url("../images/common/T--SYSU-Software--background.png");
    background-size: cover;
    background-position: center 98%;
}

#top-title {
    font-size: 8em;
    padding-top: 3em;
    color: #EAC260;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: serif;
    margin-top: 0 !important;
}

#slogan {
    font-size: 5em;
    margin-top: 1.2em;
    color: #EAC260;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: serif;
    text-decoration: none;
}

#sysu-software-2017 {
    margin-top: 0.5em;
    margin-bottom: 10em;
    font-size: 2.5em;
    /*25px*/
    color: #EAC260;
    text-align: center;
    font-weight: 200;
    font-family: serif;
}

.fullseg {
    width: 100%;
}

.page-content {
    width: 70%;
    margin: 5em auto 3em;
}

.center {
    text-align: center;
}

#contact {
    background-image: url("../images/common/T--SYSU-Software--lighthouse.png");
    background-size: cover;
    background-position: center top;
    height: 450px;
}

.contact-item:first-child {
    margin-top: 0;
}

.contact-item {
    margin-top: 3em;
}

#contact-content {
    padding: 50px 12.5% 50px 12.5%;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: #969696;
    padding-bottom: 0.8em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.contact-value {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1em;
    color: white;
    text-decoration: underline;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-icon:first-child {
    margin-left: 0;
}

.contact-icon {
    margin-left: 2.5em;
}

.contact-icon>img {
    width: 5em;
    height: 5em;
}
