* {
  	margin:0;
  	padding:0;
  	font-style: normal;
}
body {
	font-size: 62.5%;
}

/* 顶部导航栏我统一使用firstnav，相应的在模板里写了 */
div#firstnav {
	background-image: url(../images/common/T--SYSU-Software--top-nav-bg.png);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

div#firstnav>ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	list-style-type: none;
	justify-content: flex-start;
	margin: 1.5em 0;
}
div#firstnav li{
  	display: inline-block;
  	margin: 0.2em 2em;
  	text-align: center;
}

div#firstnav img{
	max-width: 100%;
	height: 3em;
	margin-left: 4vw;
	margin-right: 2vw;
	display: inline-block;
}

#firstnav li a{
	color: white;
	font-size: 1.5em;
	font-style: bold;
	text-transform: uppercase;
	text-decoration: none;
}

#firstnav li a:hover,a:active{
	text-decoration: underline;
}

div#back_1 {
	color: rgb(234, 194, 96);
	width: -webkit-fill-available;
	text-align: center;
	padding: 8em 0;
}
div#back_1 img#plane {
	height: 5em;
	position: relative;
	right: 25em;
}
#first-page {
	position: relative;
	width: 100%;
	min-height: 700px;
}

#ship-background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	background-image: url("../images/common/T--SYSU-Software--background.png");
	background-size: cover;
	background-position: center bottom;
}

#top-title {
	font-size: 8em;
	padding-top: 2em;
	color: #EAC260;
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
#slogan{
	font-size: 5em;
	margin-top: 1.2em;
	color: #EAC260;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
#sysu-software-2017{
	margin-top: 0.5em;
	margin-bottom: 8em;
	font-size: 2.5em; /*25px*/
	color: #EAC260;
	text-align: center;
	font-weight: 200;
}

.mid-nav-card {
	height: 150px;
	background-image: url("../images/common/T--SYSU-Software--mid-nav-bg.png");
	background-size: cover;
	background-position: center top;
}

.nav-tabs {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.mid-nav-tab {
	font-size: 2.5em;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.mid-nav-tab:hover {
	color: #2A5787;
	text-decoration: underline;
	cursor: pointer;
}

.tab-page {
	display: none;
}

.page-content {
    width: 60%;
    margin: 5em auto 3em;
}

#contact {
	background-image: url("../images/common/T--SYSU-Software--lighthouse.png");
	background-size: cover;
	background-position: center top;
	height: 450px;
}

.contact-item:first-child {
	margin-top: 0;
}

.contact-item {
	margin-top: 3em;
}

#contact-content {
	padding: 50px 25% 50px 0;
	width: 75%;
	height: calc(100% - 100px);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.contact-heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: #969696;
	margin-bottom: 0.8em;
	text-transform: uppercase;
	text-align: center;
}

.contact-value {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 2em;
	color: white;
	text-decoration: underline;
}

.contact-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contact-icon:first-child {
	margin-left: 0;
}
.contact-icon {
	margin-left: 2.5em;
}
.contact-icon > img {
	width: 5em;
	height: 5em;
}

/* and more */