@charset "UTF-8";
#overview>h1 {
    color: rgb(41, 101, 146);
    font-weight: 400;
    font-size: 6em;
    text-align: center;
}

#o1 {
	margin-bottom: 3rem;
}

#o1,
#o2 {
    display: flex;
    align-items: center;
	font-size: 2rem;
	margin-left: auto;
	margin-right: auto;
}

#o1 img,
#o2 img {
    width: 50%;
}

#o2 {
	flex-direction: row-reverse;
}

.overview-block {
	margin: 0 auto;
}

#o1 p,
#o2 p {
	width: 40%;
	margin: auto;
	line-height: 1.5em;
}

.tab-page {
    font-size: 2rem;
    margin: 0 auto;
    width: 100%;
}

.tab-page>div:nth-child(even) {
    background-image: url(../images/interlab/T--SYSU-Software--Rectangle-6.png);
}

.tab-page>div:nth-child(even)>div {
    order: 2;
}

.matblk img {
    display: block;
    margin: 0 auto;
    padding: 1em 0;
}

.img-ex {
	margin-top: 1.2em;
    font-size: 1.2rem !important;
    text-align: center;
}

.resblk{
	width: 70%;
	margin: 0 auto;
	padding: 3rem;
}

.blue {
	background-color: #E1F1FD;
}
.green {
	background-color: #E6F4E9;
}

.resblk.img-right {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}
.resblk.img-left {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.resblk p.explanation {
	width: 40%;
	margin: auto;
	line-height: 1.5em;
}

.resblk .fig_exp {
	width: 50%;
}

.fig_exp img {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.center-img {
    display: block;
    width: 60%;
	margin: 0 auto;
}
