@charset "UTF-8";
@media screen and (max-width: 1440px) {}

#top-title.project {
    padding-top: 2.5em;
}

#top-title img {
    width: 28%;
}

#sysu-software-2017.project {
	margin-bottom: 6em;
}

#top-title>img {
    width: 28%;
    filter: drop-shadow(0.04em 0.04em 0.15em rgb(28, 84, 117));
}

#laptop {
    width: 55%;
    margin-bottom: 4rem;
}

.subsection {
    padding: 2rem 0;
    text-align: center;
    width: 100%;
}

.description.subsection:nth-of-type(odd),
.feature.subsection:nth-of-type(odd),
.demonstration.subsection:nth-of-type(even) {
    background-color: rgb(229, 243, 233);
}

.design.subsection:nth-of-type(odd),
.wet-lab.subsection:nth-of-type(odd) {
    background-color: rgb(225, 240, 253);
}

.design.subsection:nth-of-type(even):last-child {
    padding-bottom: 0;
}

section:last-of-type {
    margin-bottom: 0;
}

.page-content {
    margin-top: 1em;
}

.page-content p {
    margin: 2rem 0;
    text-align: left;
}

.icon {
    width: 6vw !important;
    display: block;
    margin: 0 auto 3rem;
}

span.bold {
    font-weight: bold;
}

p.center {
    text-align: center;
}

#stylize-p {
    color: rgb(61, 131, 203);
    font-weight: 600;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.8em;
}

.feature-div img {
    width: 20% !important;
}

#feature-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-div {
	width: 25%;
	background: white;
	margin: 1rem 0.8rem;
	padding: 2.5rem 1rem;
	/*border: 1px solid #BFBFBF;*/
	box-shadow: 2px 2px 3px 2px #aaa;
	word-break: normal;
	word-wrap: break-word;
}
.feature-div.special {
    width: 80%;
    padding: 2rem 2rem;
}
.feature-div p{
	text-align: center;
}

#year-img {
    width: 60%;
}

#google-meet-sdin-img {
	width: 80%;
}

.ui.reveal.move .content {
    background: white;
    width: inherit;
}
.ui.reveal.move>.visible.content p{
    width: inherit;
    word-break: normal;
    word-wrap: break-word;
}
img.screen-crop {
    width: 70%;
}

.double-pic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
}

.double-pic:not(.same-heigt) .pic {
    width: 45%;
}
.double-pic:not(.same-height) .pic img {
    width: 100%;
}

#validation-experiment .pic {
    width: auto;
}

#validation-experiment .pic img {
    height: 20vw;
}


#validation3 {
    margin-top: 0;
}

#installability p {
    text-align: center;
}

#environment p {
    text-align: center;
}

.requirement {
    font-size: 1.4rem;
    line-height: 3em;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 1em;
}

.requirement td {
    border-color: #AAA;
    border-width: 1px;
    border-style: solid;
    border-spacing: 1em;
    padding: 0 0.5em;
}

.demo .explain {
    text-align: center;
}

.demo .screenshot {
    width: 80%;
}

.demo .step {
    text-decoration: underline;
}

#interviews .intro {
    color: #909090;
    text-align: center;
    font-size: 1.1rem;
}

.interview .quote p {
    font-style: italic;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.2px #DDD;
}

.interview {
    margin-top: 3rem;
}

.interview:not(.last)::after {
    content: "_";
}

#future-work p {
    text-align: center;
    line-height: 2em;
    font-size: 1.5rem;
}

#more {
    margin-top: 2.5em;
    font-style: italic;
    font-weight: 600;
}