@charset "UTF-8";

p.bold {
	font-weight: bold;
}

p.question {
	color: #296592;
	font-weight: bold;
}

#risk-group-img {
	width: 50%;
}

#add-part-img {
	width: 50%;
}

#waste-box-img {
	width: 50%;
}