.team-group {}

.team-member {
    width: auto;
}

.team-member .name {
    text-align: center;
    margin-top: 1em;
    font-family: fantasy;
    font-size: 1.2rem;
}

.team-member .photo {
    display: block;
    margin: 0 auto 1em;
    height: 27vw;
}

#advisors .team-member .photo,
#instructors .team-member .photo {
    height: 20vw;
    box-shadow: 0.3vw 0.3vw 0.6vw #999999;
}

.member-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.member-line:last-child {
    margin-bottom: 0;
}

#overlapped-line {
    justify-content: space-between;
    position: relative;
}

#overlapped-guy {
    position: absolute;
    left: calc(50% - 13vw);
}
