@charset "UTF-8";

* {
  	margin:0; 
  	padding:0;
  	font-style: normal;
} 
body {
	font-size: 62.5%; 
}

div#firstnav {
	background-image: url(images/T--SYSU-Software--Rectangle-1.png);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

div#firstnav>ul{
	list-style-type: none;
	margin: 1.5em 0;
}
div#firstnav li{
  	display: inline-block;
  	margin: 0.2em 2em;
  	text-align: center;
}

div#firstnav img{
	max-width: 100%;
	height: 2.5em;
	display: inline-block;
	padding: 1em 2em;
}

#firstnav li a{
	color: white;
	font-size: 1.5em;
	font-style: bold;
	text-transform: uppercase;
	text-decoration: none;
}

#firstnav li a:hover,a:active{
	text-decoration: underline;
}

div#back_0{
	background-image: url(images/T--SYSU-Software--T--SYSU-Software--1.png); 
	background-repeat:no-repeat;
	width: 100%;
	background-size: contain;
	display: flex;
	flex-direction: column;
}

div#back_1 {
	color: rgb(234, 194, 96);
	width: -webkit-fill-available;
	text-align: center;
	padding: 8em 0;
}
div#back_1 img {
	height: 5em;
	position: relative;
	right: 25em;
}
div#back_1>h1{
	font-size: 8em; /*80px*/
	text-transform: uppercase;
}
div#back_1>h2{
	font-size: 5em;
	font-weight: bold;
	text-transform: uppercase;
}
div#back_1>h3{
	font-size: 2.5em; /*25px*/
	font-weight: 200;
}
#overview {
	display: flex;
	width: -webkit-fill-available;
	padding-top: 15em;
	flex-direction: column;
	align-items: center;
}

#overview>h1{
	color: rgb(41, 101, 146);
	font-weight: 400;
	font-size: 6em; /*60px*/
}
#o1, #o2 {
	display: flex;
	margin: 3em 10em;
	align-items: center;
}
#o1>p{
	font-size:2em;
}
#o2>p{
	font-size:2em;
}
#o1 img{
	height: 20em;
	margin:0 2em;
}
#o2 img {
	height: 20em;
	margin: 0 2em;
	order: 2;
}
#secondnav{
	background-image: url(images/T--SYSU-Software--navbg.png);
	width: -webkit-fill-available;
	height: 100px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
#secondnav li>a{
	display: inline-block;
  	font-size: 2em;
  	text-decoration: none;
  	color: #FFF;
  	font-weight: 400;
  	padding-bottom: 1em;
}
#secondnav li>a:hover,a:visited{
  	text-decoration: underline;
  	color: rgb(42, 87, 135);
}
#experiment,#material,#result{
	display:none;
}
#experiment,#material,#result p{
	font-size: 2em;
}
.matblk,.resblk{
	padding:2em 5em;
}
.matblk h4,img{
	padding:1em 0;
}
.center-img{
	text-align: center;
}
.bias-img{
	display: flex;
	align-items: center;
}
#footer{
	background-image: url(images/T--SYSU-Software--tower1.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 40em;
	background-size: cover;
}
#footer ul{
	text-align: center;
	float: left;
	position: relative;
	top: 10em;
	left: 5em;
}
#footer li{
	font-size: 2em;
	color: rgb(150,150,150);
	margin: 1em;
}
